# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.bundle/
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/
.venv/

# IDE / Editor files
.idea/
.vscode/

# environment variables
.env

# flask session files
flask_session/
